* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  background-color: black;
  color: white;
}

.grid {
  display: grid;
  place-content: center;
}

.grid-column {
  grid-auto-flow: column;
}

.container {
  gap: 1rem;

  padding: 1rem;
}

/* ======== BOARD ======== */

#sudoku-board {
  padding: 10px;
  grid-template-columns: repeat(9, 80px);
  grid-template-rows: repeat(9, 80px);

  gap: 2px;
  width: min-content;

  background-color: grey;
}

.cell {
  display: grid;
  place-items: center;

  font-size: 3rem;

  background-color: black;
}

.cell-top {
  margin-top: 2px;
}

.cell-right {
  margin-right: 2px;
}

.cell-bottom {
  margin-bottom: 2px;
}

.cell-left {
  margin-left: 2px;
}

/* ======== Puzzle Counter ======== */

#puzzle-selection {
  grid-auto-flow: column;

  padding: 1rem;

  gap: 2rem;
}

#puzzle-id {
  gap: 1rem;
  padding: 1rem;

  border-radius: 1rem;

  background-color: grey;
}