* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  background-color: black;
}

.grid {
  display: grid;
}

.cell {
  display: grid;
  place-items: center;

  font-size: 3rem;

  background-color: black;
  color: grey;
}

#sudoku-board {
  padding: 10px;
  grid-template-columns: repeat(9, 80px);
  grid-template-rows: repeat(9, 80px);

  gap: 2px;
  width: min-content;

  background-color: grey;
}

.cell-top {
  margin-top: 2px;
}

.cell-right {
  margin-right: 2px;
}

.cell-bottom {
  margin-bottom: 2px;
}

.cell-left {
  margin-left: 2px;
}
